/* You can add global styles to this file, and also import other style files */

:root {
    --greenPrincipal: #1dd05d;
}

body {
    background-color: black;
    color: white !important;
}

p {
    padding: 0;
    margin: 0;
}

hr {
    border-color: white;
}

.puntero {
    cursor: pointer;
}

.img-circle {
    border-radius: 100%;
    width: 300px;
}

.card-title, .card-text {
    color: black;
}

.badge {
    margin-left: 5px;
}

.btn-outline-success {
    margin-left: 5px;
}

.img-thumb {
    width: 50px;
    height: 50px;
}

.absolute-card {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    text-align: center;
    color: gray;
}

.card-home:hover>div {
    display: flex;
}

.absolute-card .title {
    color: white;
    font-size: 28px;
}

.df-1 {
    flex: 1;
}

.number {
    color: var(--greenPrincipal);
}

.main-text {
    font-size: 80px;
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}

/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}